@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

:root {
  --primary-color: #ff4c24;
  --primary-light: #fff4f2;
  --primary-dark: #e54420;

  --text-main: #262626;
  --text-content: #49557e;
  --text-sub: #676767;
  --text-light: #808080;

  --bg-white: #ffffff;
  --bg-footer: #323232;
  --border-light: #e2e2e2;
  --border-medium: #c5c5c5;
  --shadow-soft: 0px 4px 15px rgba(0, 0, 0, 0.08);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
